.--ticket-container {

    display: flex;
    flex-direction: column;
   
    width: 100%;
    max-width: 300px;

    
}

.--ticket-container.collapsed{
    border-radius: 20px;
    overflow: hidden;
    box-shadow: -1px 3px 24px -5px rgba(89,88,89,1);
}

.--ticket-container.collapsed > .tck-header{
    box-shadow: none;
}

.tck-header {

    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: white;

    padding: 18px;
    box-sizing: border-box;
    box-shadow: -1px 3px 24px -5px rgba(89,88,89,1);
    cursor: pointer;
}

.tck-perforation {
    display: flex;
    min-height: 20px;
}

.tck-perforation .cut-line-container {
    background-color: white;
    width: 100%;
    min-height: 20px;
    position: relative;
}

.tck-perforation .cut-line-container::after {
    position: absolute;
    content: "";
    left: 2px;
    right: 2px;
    border-bottom: dashed gray 1px;
    top: 50%;
}

.tck-perforation .hole-left {
    width: 11px;
    min-height: 20px;
    clip-path: url(#perforation-clip-left);
    background-color: white;
}

.tck-perforation .hole-right {
    width: 11px;
    min-height: 20px;
    clip-path: url(#perforation-clip-right);
    background-color: white;
}

.tck-details {
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.tck-header .code-and-title {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: flex-start;
    text-align: start;
}

.tck-body {
    overflow: hidden;
    transition: all 0.3s ease;
}

.tck-body.collapsed {
    max-height: 0 !important;
}
